body {
    background-color: #202020;
    color: #fff;
    /* padding: 0;
    margin: 0; */
}

.navbar {
    background: #404040;
    padding: 5px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar li {
    list-style: none;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: #3b4
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px 0;
    border: 1px solid #404040;
}

.card {
    background: #32e3f4;
    color: #202020;
    padding: 10px;
    margin-bottom: 3px;
}

.input {
    background-color: wheat;
    padding: 10px;
    text-align: center;
    display: block;
}

img {
    width: 700px;
}