<!-- usar jinja -->
{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias consequuntur quos odio voluptatum ad amet, vero at expedita earum aperiam dolorum atque soluta nihil placeat laudantium ab. Excepturi pariatur obcaecati dolores labore eius est nam. Sunt illo aspernatur minima consequatur deserunt, tenetur sequi, saepe aut modi id optio error laboriosam pariatur hic eos ipsa veniam quam! Repellat voluptatem dicta animi fugiat quo beatae possimus fuga porro commodi similique sunt tenetur praesentium eligendi aspernatur, error quasi. Aspernatur, cum eum! A soluta praesentium repudiandae ea expedita obcaecati temporibus maxime similique, alias quae eaque necessitatibus impedit nulla animi assumenda eligendi aperiam laudantium.</p>

{% endblock %}